<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      GRIST: an undergraduate independent study project with the History Department at The University of New Mexico.
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Methods</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Map</a></li>
        <li><a href="#">Gallery</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>(Re)sources</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Bibliography</a></li>
        <li><a href="#">GIS Data</a></li>
        <li><a href="#">Center for Southwest Research</a></li>
        <li><a href="#">Fray Angelico Chavez History Library</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Case Studies</h5>
      <ul class="list-unstyled text-small">
        <li><a href="#">Laureano Cordova Mill</a></li>
        <li><a href="#">St. Vrain Mill</a></li>
        <li><a href="#">Valencia Flour Mill</a></li>
      </ul>
    </div>
  </div>
</footer>
